<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApiAiSDK" version="1.6.5" targetFramework="net472" />
  <package id="HttpToSocks5Proxy" version="1.4.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="NLog" version="4.7.2" targetFramework="net472" />
  <package id="NLog.Config" version="4.7.2" targetFramework="net472" />
  <package id="NLog.Schema" version="4.7.2" targetFramework="net472" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net472" />
  <package id="Telegram.Bot" version="15.7.1" targetFramework="net472" />
</packages>